<!DOCTYPE html>
<html>
<head>
	<style>
		.hbar ul {
			list-style-type: none;
  			margin: 0;
  			padding: 0;
  			overflow: hidden;
  			background-color: #333;
		}

		.hbar li {
		  float: left;
		  display: block;
		  color: black;
		  text-align: center;
		  padding: 3% 5%;
		  text-decoration: none;
		}

	</style>
</head>
<body>

	<br>

    <h2 style="text-align:center;">Weather monitor</h2>
    <br>
    <h4 style="text-align:center;">Temperature: {{ temp }}<sup>o</sup>C</h4>
    <h4 style="text-align:center;">Humidity: {{ hum }} RH% </h4>

</body>
</html>
